/* CONFIGURACIÓN GENERAL */
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: #333;
}

/* BARRA DE NAVEGACIÓN */
.nav-container{
    height: 40px;
    max-width: 968px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo-nombre{
    width: 100%;
    align-self: center;
    justify-items: start;
}

.logo-nombre div{
    margin-left: 10px;
}

.logo-nombre div h1{
    font-size: 2rem;
    color: #a0715f;
}

.icono-menu{
    display: grid;
    width: 100%;
    justify-content: end;
    align-self: center;
    margin-right: 30px;
    font-size: 3rem;
    
}

.icono-menu div{
    margin-right: 10px;
}

/* HERO */
.hero{
    background-color: #dfd7ce;
    height: 660px;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.text-container{
    margin-top: 90px;
}

.hero p{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 10px;
}

.hero h2{
    color: #a0715f;
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.hero img{
    height: 328px;
}

.hero button {
    font-weight: 500;
    font-size: 1.5rem;
    width: 363px;
    height: 54px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: none;
    border: #333 2px solid;
}